$large-font-size: 100px;

body {
  font: 100% $main-font;
  font-size: $main-font-size;
  color: $text-color;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.root-container {
  min-height: 100vh;
  padding: 5%;
  max-width: 1360px;

  .landing-container {
    min-height: 100vh;
    background-color: $left-color;
    text-align: center;
    padding-bottom: 80px;
    min-width: 70vw;
  }

  .project-container {
    width: 100%;
    background-color: $right-color;
    padding-bottom: 80px;
  }
}

.large-text {
  color: $white;
  font: 100% $play-fair;
  font-size: $large-font-size;
}

.mid-text {
  color: $white;
  font: 100% $play-fair;
  font-weight: 700;
  font-size: 50px;
}

.small-text {
  color: $white;
  font: 100% $main-font;
  font-size: 30px;
}

.body-text {
  max-width: $maximum-content-width;
  text-align: left;
  color: $white;
  font: 100% $main-font;
  font-size: 16px;
  line-height: 1.5rem;
  margin: 0 auto;
}

.screenshot {
  width: 1135px;
  height: 562px;
}

.image-icon {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  width: 50px;
  height: 50px;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.vertical-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.link {
  font: 100% $main-font;
  text-decoration: none;
  font-weight: 500;
  color: $hover-color;
  cursor: pointer;
  font-size: 20px;
  background-color: $pink;
  padding: 10px;
  border-radius: 12px;
  margin: 10px;
  width: 150px;

  &:hover {
    color: $white;
    background-color: $hover-color;
  }
}

.display-flex {
  display: flex;
}

.fade-popup {
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.text-align-center {
  text-align: center;
}

.padding-bottom {
  padding-bottom: 30px;
}

.link-spacing {
  padding: 20px;
}

.name-container {
  padding: 50px;
  cursor: pointer;
}

.content-container {
  background-color: $right-color;
  padding-bottom: 50px;
}

.flex {
  display: flex;
}

.divider {
  border-bottom: 3px solid $white;
}

.nav-bar {
  padding-bottom: 80px;
}

.svg-icon {
  color: $pink;
  cursor: pointer;
}

.project-text-header {
  font: 100% $play-fair;
  font-size: 30px;
  color: $white;
}

.internal-link {
  cursor: pointer;
  border-radius: 30px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }
}

.home-page-img {
  width: 25%;
  margin: 20px;
}

.nav-link {
  text-decoration: none;
  color: inherit;
}

.underline {
  text-decoration: underline;
}

.selected-nav-link {
  cursor: default;
  text-decoration: line-through;
  opacity: 0.5;
}

.display-contents {
  display: contents;
}

.project-link {
  font: 100% $main-font;
  font-size: 20px;
  text-decoration: none;
  font-weight: 500;

  color: $hover-color;
  cursor: pointer;
  background-color: $pink;

  border-radius: 12px;

  padding: 20px;
  margin: 20px;

  &:hover {
    color: $white;
    background-color: $hover-color;
  }
}

.project-card {
  text-align: center;
  width: 35vw;
  border: 2px solid $white;
  border-radius: 16px;
  padding: 20px;
  min-width: 325px;
  max-width: 600px;
}

.project-card-description {
  line-height: 1.6;
  color: $white;
  font-size: 20px;
}

.header {
  font-family: $play-fair;
  font-weight: normal;
  border-bottom: 2px solid white;
}

.text-align-left {
  text-align: left;
}

.project-img {
  width: 100%;
  max-width: $maximum-vid-width;
}

.project-header {
  border-bottom: 2px solid $white;
  width: 100%;
  max-width: 760px;
  margin: 0 auto;
}

.thumbnail-link {
  cursor: pointer;
}

.padding-right {
  padding-right: 20px;
}

.padding-left {
  padding-left: 20px;
}

.inline-link {
  text-decoration: none;
  color: $text-color;
}

.remove-margin {
  margin-bottom: 0;
  margin-top: 0;
}

.personal-img {
  margin: 20px;
  border-radius: 16px;
  max-width: 350px;
  max-height: 350px;
}

.third-person-text {
  color: $white;
  font: 100% $play-fair;
  font-size: 30px;
}

.padding-top {
  padding-top: 20px;
}

.dnd-image {
  max-height: 283px;
}

.dnd-sheet-img {
  max-width: 378px;
  max-height: 504px;
}

.footer {
  width: 100%;
  min-height: 60px;
  background-color: $left-color;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-thumb {
  background-color: $gray-color;
  border-radius: 9px;
  border: 4px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
}