.large-text {
  font-size: 50px;
}

.mobile-display-block {
  display: block;
}

.mobile-display-padding-bottom {
  margin-bottom: 30px;
}

.mobile-padding-none {
  padding: 0;
}

.nav-bar {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.body-text {
  padding: 20px;
}

.personal-img {
  max-width: 225px;
  max-height: 225px;
}